{% extends 'base.html' %}
{% from "components/macros.html" import form_errors %}

{% block title %}Add produce{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/login.css') }}">
{% endblock %}

{% block content %}
    <section class="form-wrapper">
        <h1>Add produce</h1>
        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.country.label }}
                {{ form.country }}

                {{ form_errors(form.country.errors) }}
            </div>

            <div class="form-group">
                {{ form.liters_beer.label }}
                {{ form.liters_beer }}

                {{ form_errors(form.liters_beer.errors) }}
            </div>

            <div class="form-group">
                {{ form.liters_wine.label }}
                {{ form.liters_wine }}

                {{ form_errors(form.liters_wine.errors) }}
            </div>

            <div class="form-group">
                {{ form.liters_spirits.label }}
                {{ form.liters_spirits }}

                {{ form_errors(form.liters_spirits.errors) }}
            </div>

            <div class="form-group">
                {{ form.liters_alc.label }}
                {{ form.liters_alc }}

                {{ form_errors(form.liters_alc.errors) }}
            </div>

            <div class="form-group">
                {{ form.continent.label }}
                {{ form.continent }}

                {{ form_errors(form.continent.errors) }}
            </div>

            <div class="form-group">
                {{ form.submit(class="btn btn--full") }}
            </div>
        </form>
    </section>
{% endblock %}