{% extends 'base.html' %}
{% from 'components/macros.html' import select_field, filter_produce_form, country_row %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/produce.css') }}">
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h2>Find specific produce</h2>
    <h3 class="text--gray">
        Here is all the alcohol consumption from each country!
    </h3>
    {{ filter_produce_form(form=form) }}
    <!-- <div class="produce">
        {% if produce|length %}
            {% for product in produce %}
                {{ country_row(product=product) }}
            {% endfor %}
        {% else %}
            <h3 class="text--gray">
                No products found for selected filters
            </h3>
        {% endif %}
    </div> -->

    <!-- <div class="produce">
        {% if produce|length %}
            {% for product in produce %}
                {{ country_row(product=product) }}
            {% endfor %}
        {% else %}
            <h3 class="text--gray">
                No products found for selected filters
            </h3>
        {% endif %}
    </div> -->
    <table>
        <tr>
            <th>Country</th>
            <th>Beer Servings</th>
            <th>Wine Servings</th>
            <th>Total Litres of Pure Alcohol</th>
            <th>Continent</th>
        </tr>
        {% for product in produce %}
            {{ country_row(product=product) }}
        {% endfor %}
    </table>

{% endblock %}